.add-button-container{
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;

    button{
        padding: 6px 20px;
        margin-right: 20px;
        margin-top: 10px;

        width: 120px; 
    }
}
.hidden{
    visibility: hidden;
}